html,
body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 50px 0;
}

section {
  padding: 20px;
  border-right: 3px dashed #666;
}

aside {
  padding: 20px;
  display: grid;
}

li {
  margin: 20px 0;
  padding-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 80px auto;
}

.hex-inputs label,
.hex-inputs input {
  margin-bottom: 10px;
}

.hex-inputs input {
  width: 50px;
}

#output {
  width: 100px;
  height: 100px;
  border: 3px dashed #666;
  justify-self: center;
}

footer li i {
  display: block;
  margin: 10px 0 0;
}
